div#get-started-lightbox{
  display:none;
  z-index: 2;
  position: relative;
  width: 600px;
  height: 150px;
}

.lightbox{
    border: 1px solid #E8E8E8;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(229,229,229,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(229,229,229,1) 100%); /* W3C */
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.namdde-holder{
}

.selected-card{
  width: 48px;
  height: 48px;
}

.animal-picker{
  
}

.card{
  /*border: solid 1px #000;*/
  float:left;
  width: 48px;
  height: 48px;
  margin-left: 53px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 4px;
  cursor: pointer;
}

.card:hover{
  border: solid 1px #000;
  margin-left: 52px;
  margin-right: -1px;
  margin-top:-1px;
}

.card.selected{
  border: solid 2px green;
  margin-left: 51px;
  margin-right: -2px;
  margin-top: -2px;
}

.card.bull{
  background-image: url('/images/characters/bull_01_48x48.png');
}
.card.horse{
  background-image: url('/images/characters/horse_01_48x48.png');
}
.card.sheep{
  background-image: url('/images/characters/sheep_01_48x48.png');
}
.card.cow{
  background-image: url('/images/characters/cow_01_48x48.png');
}
.card.goose{
  background-image: url('/images/characters/goose_01_48x48.png');
}
