* {
	font-family: Arial;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #222;
}
.raceScreen {
	background: #65CA39;
	height: 450px;
}
.notice {
	position: absolute;
	width: 400px;
	height: 100px;
	left: 200px;
	top: 100px;
	text-align: center;
	font-size: 2em;
}
#templates {
	display: none;
}
.sky {
	background-image: url("../images/background_sky_01_800x100.png");
	height: 100px;
}
.fields {
	background-image: url("../images/background_fields_01_800x100.png");
	height: 100px;
}
.barn {
	top: 120px;
	height: 360px;
	width: 75px;
	position: absolute;
	background-image: url("../images/barn_01_75x360.png");
	z-index: 10;
}
.holder {
	width: 800px;
	margin: 0 auto;
	background: #ddd;
	position: relative;
}
.raceCanvas {
	position: absolute;
	top: 150px;
	left: 70px;
}